<div class="col-md-6 col-md-offset-3">
  <h2>Welcome to Ponder.</h2>
  <p>Ponder is a lightweight Pinterest clone built with Ruby on Rails. Ponder lets you easily save, access, edit, and delete links you may want to visit later.</p>
  <p>All pins on Ponder are private. No other users will be able to see your pins. However, you can choose to share any pin on Twitter, Facebook, or Tumblr through the social sharing buttons at the bottom of each pin.</p>
  <p>Ponder is based heavily on <a href="https://mackenziechild.me/12-in-12/4/">Mackenzie Child's Pinterest clone tutorial.</a>
  <p>Check out the code, fork the repo and see additional credits on 
  <a href="http://www.github.com/wandergram/ponder">my Github.</a>
</div>

